- hosts: localhost
  become: true

  vars:
    app_repo: "https://github.com/pranitpotsure/project-app.git"
    backend_dir: "/opt/student-backend"
    app_port: 8080

    

  tasks:
    - name: Install Java, Maven, Git
      yum:
        name:
          - java-17-amazon-corretto
          - maven
          - git
        state: present

    - name: Clone application repository
      git:
        repo: "{{ app_repo }}"
        dest: "{{ backend_dir }}"
        version: main

    - name: Build Spring Boot backend
      command: mvn clean package -DskipTests
      args:
        chdir: "{{ backend_dir }}/ems-backend"

    - name: Create systemd service for backend
      copy:
       dest: /etc/systemd/system/student-backend.service
       content: |
         [Unit]
         Description=Student Management Backend
         After=network.target

         [Service]
         Environment=SPRING_DATASOURCE_URL=jdbc:mysql://{{ db_host }}:3306/{{ db_name }}
         Environment=SPRING_DATASOURCE_USERNAME={{ db_user }}
         Environment=SPRING_DATASOURCE_PASSWORD={{ db_password }}
         ExecStart=/usr/bin/java -jar {{ backend_dir }}/ems-backend/target/ems-backend-0.0.1-SNAPSHOT.jar
         Restart=always
         User=root

         [Install]
         WantedBy=multi-user.target


    - name: Reload systemd
      command: systemctl daemon-reload

    - name: Start backend service
      systemd:
        name: student-backend
        state: started
        enabled: yes
